.imgCart{
  margin-left: 20px;
}
#detailTittle{
  color: #593196;
}
.detail{
  margin: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.imgDetalle{
  max-width: 35rem;
  margin-right:3rem;
}
.descripcion{
  max-width: 30rem;
}
.btn-outline-primary{
  margin-left: 0.5rem;
}
.titulo1{
  padding: 25px;
}
.counter-container{
  
  padding: 10px;
  border: 1px;
  border-style:solid ;
  border-color:#6610f2 ;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  padding: 100x;
  margin: 1rem;
}
.number-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 25px;
}
#productos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
}
button {
  margin: 0.5rem;
}